braceexpand
einops
einops-exts
et-xmlfile
inflection
more-itertools
nltk
numpy
open-clip-torch
open-flamingo
opencv-python
openpyxl
pycocoevalcap
pycocotools
pyparsing
scikit-learn
scipy
sentencepiece
torch
torchvision
tqdm
transformers==4.30.2
wandb